body{
	padding:0;
	margin:0;
}

#header{
	opacity:.9;
	font-family:tahoma,ubuntu;
	width:auto;
	margin: 0 auto 10px auto ;
	background-color:#333;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	box-shadow: 0 0 5px #000;
	text-shadow:0 0 3px maroon;
	border-top:2px groove #ccc;
	padding:13px;
	color:white;
	font-weight:bold;
	font-size:20px;
	text-align:center;
}

#messageBody{
	margin:auto;
	width:760px;
	clear:both;
	color:purple;
}

#leftMenu{
	float:left;
	margin:0;
	padding:0;
}

#leftMenu ul{
	margin-bottom:30px;
	padding:0;
	line-height:30px
}

#leftMenu li{
	margin:0;
    padding:0;
    list-style:none;
    text-align:center;
    width:100px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    box-shadow: 0 0 3px #ccc;
    position:relative;
}

#leftMenu li:hover{
	cursor:pointer;
	font-weight:bold;
	color:blue;
}

#leftMenu ul li a{
    text-align:center;
    font-family:ubuntu,cursive;
    text-decoration:none;
    height:30px;
    width:150px;
    color:#999;
    border-color:#fff;
    text-shadow:1px 1px 1px 1px #000;
}

#navMenu{
    float:right;
    margin:0;
    padding:0;
}

#navMenu ul{
    margin-bottom:60px;
    padding:0;
    line-height:30px;
}

#navMenu li{
    margin:0;
    padding:0;
    list-style:none;
    text-align:center;
    width:100px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    box-shadow: 0 0 3px #ccc;
    position:relative;
}

#navMenu li:hover{
	cursor:pointer;
	font-weight:bold;
}

#navMenu ul li a{
    text-align:center;
    font-family:ubuntu,cursive;
    text-decoration:none;
    height:30px;
    width:150px;
    color:#999;
    border-color:#fff;
    text-shadow:1px 1px 1px 1px #000;
}

#contents{
	clear:both;
}


#instructions{
	margin:auto;
	padding-top:10px;
	padding-bottom:10px;
    color:black;
    font-size:18px;
    font-family:Ubuntu,Tahoma;
    font-weight:bold;
    width:460px;
    text-align:left; 
    border-top:5px solid #800000;
    border-bottom:.5px solid #ccc;
    box-shadow: 1px 0px 5px 0px #ccc;
}

#inboxStuff{
	margin:auto;
	padding-top:10px;
	padding-bottom:10px;
    color:black;
    font-size:18px;
    font-family:Ubuntu,Tahoma;
    font-weight:bold;
    width:760px;
    text-align:left; 
    border-top:5px solid #800000;
    border-bottom:.5px solid #ccc;
    box-shadow: 1px 0px 5px 0px #ccc;
}

#instructions span,#inboxStuff span{
	margin-left:30px;
}


form{
	font-family:Tahoma;
	font-size:14px;
	margin:auto;
	box-shadow: 0 0 5px #ccc;
	border-top-right-radius:5px;
	width:400px;
	padding: 30px;
	transition:.5s;
}

form:hover{
	transition:.5s;
	box-shadow: 0px 5px 10px 1px #ccc;
}

label{
	width:100px;
	float:left;
	border:2px solid transparent;
}

input{
	font-family:"DejaVu Sans Light";
	border:.3px inset #999;
	border-radius:2px;	
	margin-left:90px;
	margin-bottom:20px;
	width:200px;
}

textarea{
	font-family:"DejaVu Sans Light";
	border:.5px inset #999;
	border-radius:2px;	
	margin-left:90px;
	margin-bottom:20px;
	width:200px;
}

table{
	font-family:Tahoma;
	font-size:14px;
	margin:auto;
	width:700px;
}

#mainContent{
    font-family:Tahoma;
    font-size:14px;
	color:yellow;
	width:700px;
	margin:auto;
	box-shadow:0 0 5px #ccc;
	padding:30px;
}

.ajaxOutput{
	width:680px;
	padding:20px 10px 10px 10px;
	box-shadow: 0px -2px 5px #ccc;
	height: 100px;
	overflow: auto;
}

#messageData{
	font-family:"DejaVu Sans Light";
}

table th{
	background-color:#333;
	color:#fff;
	text-align:left;
}

table tr:nth-of-type(even){
	background-color: #dfe1e7;
}
table tr:nth-of-type(odd){
	background-color: #eeeff2;
}

table tr.messageContent{
	font-weight:bold;
	cursor:pointer;
}

#error{
	color:#FF0033;
}

#successful{
	color:#C7E2C5;
}

p.status{
	margin-right:auto;
	margin-left:auto;
	margin-bottom:-20px;
	width:440px;
	text-align:left;
	font-family:"DejaVu Sans Light";
}

li.status{
	margin-right:auto;
	margin-left:auto;
	margin-bottom:-20px;
	width:440px;
	text-align:left;
	font-family:"DejaVu Sans Light";
}

#submitButton:hover{
	border-bottom:1px inset #999;
    background-color:lightgreen;
}

#resetButton:hover{
	border-bottom:1px inset #999;
    background-color:lightyellow;
}

.controller{
	cursor:pointer;
	background-color:#fff;
	font-family:"DejaVu Sans Condensed","DejaVu Sans Light";
	margin:0px 0 5px 306px;
	border:1px inset #ccc;
	border-radius:3px;
	box-shadow:  0 0 2px #ccc;
	width:90px;
	transition:.4s;
}

.controller:hover{
    box-shadow:  0 0 5px #ccc;
    text-shadow: 0 0 20px white;
    transition:.4s;
}
/*For reply form*/
#replyForm{
	font-family:Tahoma;
	font-size:14px;
	margin-top:50px;
	margin-left:454px;
	box-shadow: 0 0 5px #ccc;
	border-top-right-radius:5px;
	width:400px;
	padding: 30px;
	transition:.5s;
}


#replyForm label{
	width:100px;
	float:left;
	border:2px solid transparent;
}

#replyForm input{
	font-family:"DejaVu Sans Light";
	border:.3px inset #999;
	border-radius:2px;	
	margin-left:10px;
	margin-bottom:20px;
	width:280px;
}

#replyForm textarea{
	font-family:"DejaVu Sans Light";
	border:.5px inset #999;
	border-radius:2px;	
	margin-left:0px;
	margin-bottom:20px;
	width:400px;
}

#effectForm{
    background-color:#fff;
    height:20px;
    width:460px;
    margin-top:-10px;
    margin-left:-30px;
    margin-bottom:20px;
    box-shadow:0px 2px 5px -1.5px #ccc;
}

#validationResults{
    background-color:#FFFFD7;
    width:300px;
    min-height:150px;
    margin:auto;
    margin-top:-495px;
    margin-left:55.5%;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:20px;
    box-shadow:0 0 2px #ccc;
}

#info{
	margin-top:-30px;
	height:auto;	
}

#validationResults h3{
    width:340px;
    background-color:white;
    padding:10px;
    margin-left:-30px;
    margin-top:0px;
    border-bottom:2px solid maroon;
    box-shadow:0px 2px 5px -1.5px #ccc;
    font-size:15px;
    text-align:center;
}

#replyForm p.status{
	margin-right:auto;
	margin-left:auto;
	margin-bottom:-10px;
	text-align:left;
	font-family:"DejaVu Sans Light";
}

#replyForm li.status{
	margin-right:auto;
	margin-left:auto;
	margin-bottom:-20px;
	width:300px;
	text-align:left;
	font-family:"DejaVu Sans Light";
}

#replyButton:hover{
	border-bottom:1px inset #999;
    background-color:lightgreen;
}

#resetButton:hover{
	border-bottom:1px inset #999;
    background-color:lightyellow;
}

#replyForm .controller{
	cursor:pointer;
	background-color:#fff;
	font-family:"DejaVu Sans Condensed","DejaVu Sans Light";
	margin:0px 0 5px 306px;
	border:1px inset #ccc;
	border-radius:3px;
	box-shadow:  0 0 2px #ccc;
	width:90px;
	transition:.4s;
}

#replyForm .controller:hover{
    box-shadow:  0 0 5px #ccc;
    text-shadow: 0 0 20px white;
    transition:.4s;
}